{% extends 'layout.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Résumé de ma commande</h1>
    </section>

    <table class="table table-striped">
        <thead>
            <th>Libellé</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Total</th>
        </thead>
        <tbody>
        {% for element in dataPanier %}
            <tr>
                <td><a href="{{ path('products_show', {'id': element.produit.id}) }}">{{ element.produit.title | purify}}</a> </td>
                <td>{{ element.quantite | purify}}</td>
                <td>{{ element.produit.price|number_format(2, ',', ' ') }} €</td>
                <td>{{ (element.quantite * element.produit.price)|number_format(2, ',', ' ') }} €</td>
             </tr>
        {% endfor %}
            <tr class="fw-bold lead">
                <td colspan="3">Total :</td>
                <td>{{ total|number_format(2, ',', ' ') }} €</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <a href="{{ path('app_accueil') }}" class="btn btn-primary mt-4 ms-2">Revenir a l'accueil</a>
    </div>
    
{% endblock %}